.tag-container{
  @extend .flex-wrap;
  align-content: flex-start;
  margin: .2em;

	a.tag{
	   background-color: transparent;
	   padding: .2em .5em;
	   align-self: flex-start;
	   margin: 0 .4em .15em 0;
	   border-radius: .3em;
     border:1px solid #ccc;
     font-size:12px;
     
     &:hover{
       background-color:#ddd;
       border:1px solid #bbb;
       color:black;
       
       
     }
	}
}

.user-icon-container{
  @extend .inline-flex;  
  justify-content: flex-end;
  margin: .2em;
  
  user-icon{
    margin: .2em;
     
    a{
      margin: 0;
    }
  }
}

.rating-container{
  @extend .inline-flex;
  
  span {
    margin:.2em .5em;
  }
}
