$editor-children: ( 
   'p',
   '.btn'
);

$font-sizes: (
  fs10 1.0em,
  fs12 1.2em,
  fs14 1.4em,
  fs18 1.8em, 
  fs20 1.8em 

);

$font-families: ( 
  ffH "‘Trebuchet MS’, Helvetica, sans-serif",
  ffI  "Impact, Charcoal, sans-serif",
  ffP "‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif",
  ffT "Tahoma, Geneva, sans-serif",
  ffCN "‘Courier New’, Courier, monospace",
  ffLSU "‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif"
);

$line-height : (
  lh14 1.4,
  lh16 1.6,
  lh18 1.8,
  lh20 2.0
);

@mixin create($array, $prop){
   @each $rr in $array{
     
     @each $el in $editor-children{
       #game.#{nth($rr,1)} #{nth($el,1)} {   
          #{$prop} : nth($rr,2);     
       }
     }
   }
}


@include create($font-families, 'font-family'); 
@include create($font-sizes, 'font-size');
@include create($line-height, 'line-height');