
/* reader / game component */
.reading-container{

   padding: 10px 20px;
   
   margin-top: 30px;


  h2{
     margin-top:0;
  }

 .reading-content{
    display: inline-flex;  
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
  
 }
 

}

.light-game-theme{
   background-color: whitesmoke;
   
   .reading-container{
     background-color:white;
     border: none;
   }
   
   
  .btn.themed-button {
     background-color:hsla(0,0%,100%,.5);  
  }

}
.dark-game-theme {
  background : #222;
  
  background-size:  32px 32px, 35px 35px, 40px 40px;
  background-image: 
        radial-gradient( hsla(10,50%,50%,.3) 10%, transparent 0%),
        radial-gradient( hsla(50,50%,50%,.3) 10%, transparent 0%),
        radial-gradient( hsla(80,50%,50%,.3) 10%, transparent 0% );   
  background-position: 0 0, 15px 15px, 6px 6px;
  color:white;
  
  .btn.themed-button {
    background-color:transparent;
    color:white;
    
    &:hover, &:active, &:focus{
       background-color:hsla(0,50%,100%,.1);
    }
  }
  
  .reading-container{
    background-color: hsla(0,50%,0%,.2);
    border: 2px solid black;
  }  
  
  p{
    color:white;
  }

  h2 small{
    color:cornsilk;
  }
  
}
