// vars
/* from globals */

/* end from globals */

@import '_globals';

@import 'partials/_stats';
@import 'partials/_tags';
@import 'partials/_authors';
@import 'partials/_dates';

/* _story-listing.scss */

.story-listing{
  
$content-width: 70%;
$stats-width: 15%;
$contributors-width: 15%;
    
.story-item{
   width:100%;
   padding:.5em;
   position: relative;
   
   border:$border-normal;
   border-radius: $border-radius-normal;
   
   .center-title-container{
      font-size:$large-title-font-size;
      margin-top:0;
      margin-bottom:.1em;     
      line-height: 1em;
   }

 }
      
           
 ul.tags{
     position:relative;
 }
 
 @media(min-width: $screen-xl-min){ 

    .story-item{
     
	     padding-bottom:10px;
    }
    
    .story-item-content{
      width:80%;
      display: inline-block;
    } 
    
    
    .inline-stat-container.stacked {
      width:18%;
      display: inline-block;
     }
        
    .center-content-container{
      padding-top:0;
      padding-bottom:0; 
     
      text-overflow: ellipsis;
      font-size:1.4rem;
      line-height: 2rem;
      position: relative;
      @extend .center;
    }


    
    
  }
    

  
  @media (max-width: $screen-lg-max){    
    .big-tile-container{
      margin: 1%;
      width: 98%;
    }
    
   
    
    .first.inline-stat-container{
       display: block;
       margin:.2em 0;
     }
     
  }
  
}

  