<!--
Example Usage
			
<require from="./overlay"></require>

<overlay>
  <overlay-trigger><button class="btn btn-default"> Menu </button></overlay-trigger>	
  <overlay-content> <h1> Fonts </h1> </overlay-content>
</overlay>
-->

<template>

 
   <content select="overlay-trigger"></content>
    
   
   <div class="overlay closed">
       <button type="button" class="btn btn-default pull-right overlay-close">&times;</button>
       <content select="overlay-content"></content>
   </div>
   
   <span class="overlay-cover closed"></span>
</template>

