<template>
<div class="social-links">
 <span class="sell" > Enjoy? Share the fun </span>
 <a href.bind="twitter" target="blank" title="Tweet this ${contentType}"><i class="fa fa-twitter"></a></i>
 <a href.bind="facebook" target="blank" title="Share this ${contentType}"><i class="fa fa-facebook"></a></i>
 <a tabindex="0" title="Link to this ${contentType}" ref="pop"> <i class="fa fa-link"></a></i>
 <a href.bind="email" title="Mail this ${contentType}"> <i class="fa fa-envelope"></a></i>
</div>
</template>
