
<template>
    
<require from="./tiny-templates.js"></require>
<section class="story-list-item">
    
    <!--s in stories-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
        
           
      
                
        </div>
        <div class="col-xs-12 col-md-9">
            
            <div class="dumbell-flex-wrap">
                <div><h3 class="" style="margin-top:0"><a href="#/write-router/create">${s.title}</a></h3></div>
                <div class="pull-right rating-container">
                    <span><a href="#">${s.comments}<i class="fa fa-comment-o"></i></a></span>
                    <span><a href="#">${s.likes}<i class="fa fa-arrow-up"></i></a></span>
                    <span><a href="#">${s.views}<i class="fa fa-eye"></i></a></span>                    
                    <!-- fa-arrow-up -->
                </div>
            </div>
            
            <p>${s.summary}       
            </p>
    
            <div class="dumbell-flex-wrap">
    
                <div class="tag-container">
                    <a repeat.for="t of s.tags" class="tag" href.bind="t.id">
                        ${t.text}
                    </a>
                </div>
                
                <div>
                    <div class="muted">published on 10.21.2015 </div>
                    <div class="user-icon-container">
                        <!--If one author-->
                        <!--<span class="story-author">Created by <a>Jimmey Cricket</a><span> -->
                        <!--author-->                                                
                        <user-icon class="user-icon" name.bind="s.author.name" gravitar.bind="s.author.gravitar" id.bind="a.author.id"></user-icon>
                        
                        <!-- top 5 authors or random from top 10 -->
                        <user-icon repeat.for="u of s.contributors" class="user-icon" name.one-time="u.name" gravitar.one-time="u.gravitar" id.one-time="u.id"></user-icon>
   
                        <!-- overlay + 43 others, link to conrubutors page -->
                        <!-- community icon? or plus sign -->
                        <div class="user-icon muted">
                            <a href="#/story/id/contributions" title="and 43 other contributors">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-user-plus fa-stack-1x"></i>
                                </span>
                             </a>
                         </div>
                    </div>
                </div>
            </div>


    </div>

  </section>    
  </template>