
/* cytoscape */ 
#cy {
  height: 600px;
  width: calc(100% - 270px);
  /*position: relative;
  left: 0;
  top: 0;
  bottom:0;*/
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#visualize-info-box{ /* cytoscape info box */
    position: absolute;
    padding: .3em 1em;
    top: 0;
    right: 0;
    width: 250px;
    background-color: hsla(120,50%,0%,.1);
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1em;
}
/* end cytoscape */