    /*todo : top in variable*/
    
.game-overlay .overlay {
   right:0;
   top: 50px;
   height:calc(100% - 50px);
   width:80%;
   overflow-y:scroll;
   background-color:hsla(40,0%,15%,.6); 
   
    
   &.open{
	 transform : translateX( 0% ); 
   }  

   &.closed{
     transform : translateX( 100% );
   }
}


   
/* social icon bar */
.social-links{
    display: inline-block;
	border-radius: .3em;

	.sell{
		font-variant: small-caps;
		font-style:italic;
		margin-right:.2em;
	}
	
	a{
	   cursor:pointer;
	   display: inline-block;
	   padding:.4em .7em;
	   border-radius: 1em;
	   background-color: transparent;
	   transition: background-color 0.3s ease,
	               color            0.3s ease;
				   
	   &:hover{
			background-color: slategray;
			color:white;
	 	}
	}
}

.popover{
    color:black;
}

    